<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= countryName %> | The World Stat Book</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>
<!-- Loads page content from search bar -->
<body onload="loadPage()" id="country-details">
    <span id="cc" style="display: none;"><%= cc %></span>
    
    <div class="mobile-navbar">
        <div class="nav-item" id="background" onclick="changePage(this)">
            <!-- FUTURE: make this icon change based on contenient -->
            <i class="fas fa-globe-americas"></i>
            <span>Background</span>
        </div>
        <div class="nav-item" id="geography" onclick="changePage(this)">
            <i class="fas fa-atlas"></i>
            <span>Geography</span>
        </div>
        <div class="nav-item" id="economy" onclick="changePage(this)">
            <i class="fas fa-coins"></i>
            <span>Economy</span>
        </div>
        <div class="nav-item" id="government" onclick="changePage(this)">
            <i class="fas fa-balance-scale"></i>
            <span>Government</span>
        </div>
        <div class="nav-item" id="peopleAndSociety" onclick="changePage(this)">
            <i class="fas fa-users"></i>
            <span>People & Society</span>
        </div>
    </div>
        <div id = "backgroundContent" class="content hidden">
            <h2 class="countryName"></h2>
            <p id="countryDesc"></p>
        </div>
        <!-- Geography section: has basic info and google api insert -->
        <div id="geographyContent" class="content hidden">
                <div class ="head">
                <h2 class="countryName"></h2>
                    <p class = "label">-  Geography</p>
                </div>
                <div class = "rows">
                    <div class= "half">
                        <div class="section">
                            <p>Climate: </p>
                            <p class = "answer" id="climate"></p>
                        </div>
                        <div class="section">
                            <p>Terrain: </p>
                            <p class = "answer" id= "terrain"></p>
                        </div>
                        <div class="section">
                            <p>Elevation Extremes: </p>
                            <p class = "answer" id="elevation"></p>
                        </div>
                        <div class="section">
                            <p>Natural Hazzards: </p>
                            <p class = "answer" id= "naturalHazzards"></p>
                        </div>
                        <div>
                            <ul id = "MUA">Major Urban Areas: </ul>
                        </div>
                    </div>
                    <div class = "midline">
                        
                    </div>
                    <div class = "half"id="g">
                        <div id = "googleMap">
                            Google Map
                        </div>
                        <div class="section">
                            <p>Area: </p>
                            <p class = "answer" id="area"></p>
                        </div>
                        <div class="section">
                            <p>Area Comparison: </p>
                            <p class = "answer" id= "areaComparison"></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- People and Society section: has chart.js api content -->
            <div id="peopleAndSocietyContent" class="content hidden">
                <div class ="head">
                                <h2 class="countryName"></h2>
                    <p class = "label">-  People and Society</p>
                </div>
                <div id = "rowP">
                    <p class= "populationLabel">Population: </p>
                    <p class = "answer" id = "population"> </p>
                </div>
                <div class = "rows">
                    <div class= "half">
                        <canvas id="chart1" width="400px" height="400px"></canvas>
                    </div>
                    <div class = "midline"></div>
                    <div class = "half">
                            <canvas id="chart2" width="400px" height="400px"></canvas>
                    </div>
                </div>
                <div class = "rows">
                    <div class= "half">
                            <canvas id="chart6" width="400px" height="400px"></canvas>
                    </div>
                    <div class = "midline"></div>
                    <div class = "half">
                            <canvas id="chart7" width="400px" height="400px"></canvas>
                    </div>
                </div>
                <div class = "rows">
                    <div class= "half">
                            <canvas id="chart8" width="400px" height="400px"></canvas>
                    </div>
                    <div class = "midline"></div>
                    <div class = "half">
                            <canvas id="chart9" width="400px" height="400px"></canvas>
                    </div>
                </div>
            </div>
    
            <!-- Government section: has basic info flag insert from image files -->
            <div id="governmentContent" class="content hidden">
                <div class ="head">
                    <h2 class="countryName"></h2>
                    <p class = "label">-  Government</p>
                </div>
                <div id = "rowP">
                    <p class= "entemologyLabel">Etymology: </p>
                    <p class = "answer" id = "entemology"> </p>
                </div>
                <div class = "rows">
                    <div class= "half">
                        <div class="section">
                            <p>Government Type: </p>
                            <p class = "answer" id="governmentType"></p>
                        </div>
                        <div class="section">
                            <p>Admin Division: </p>
                            <p class = "answer" id= "adminDivision"></p>
                        </div>
                        <div class="section">
                            <p>Independence: </p>
                            <p class = "answer" id="independence"></p>
                        </div>
                        <div class="section">
                            <p>Legal System: </p>
                            <p class = "answer" id= "legalSystem"></p>
                        </div>
                    </div>
                    <div class = "midline"></div>
                    <div class = "half">
                        <img id = "flag" src = "">
                        <div class="section">
                            <p>National Anthem: </p>
                            <p class = "answer" id="nationalAnthem"></p>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Economy section: has basic info and chart.js api insert -->
            <div id="economyContent" class ="content">
                <div class ="head">
                                <h2 class="countryName"></h2>
                    <p class = "label">-  Economy</p>
                </div>
    
                <div class = "rows econ">
                    <div class= "half">
                        <div class="section">
                            <p>Official Exchange Rate: </p>
                            <p class = "answer" id="exchangeRate"></p>
                        </div>
                        <canvas id="chart3" width="400px" height="400px"></canvas>
                    </div>
                        <div class = "midline"></div>
                    <div class = "half">
                        <div class="section">
                            <p>Real Growth Rate: </p>
                            <p class = "answer" id="growthrate"></p>
                        </div>
                        <canvas id="chart4" width="400px" height="400px"></canvas>
                    </div>
                </div>
    
                <div class = "rows econ">
                    <div class= "half">
                        <ul id = "agProduction">Agricultural Production</ul>
                    </div>
                    <div class = "midline"></div>
                    <div class = "half">
                        <ul id = "indProduction">Industries</ul>
                    </div>
                </div>
    
                <div class = "rows econ">
                    <div class= "half">
                        <div class="section">
                            <p>Unemployment Rate: </p>
                            <p class = "answer" id="unemployment"></p>
                        </div>
                        <div class="section">
                            <p>Population Below Powerty Line: </p>
                            <p class = "answer" id= "povertyLine"></p>
                        </div>
                        <div class="section">
                            <p>Gini Index: </p>
                            <p class = "answer" id="gini"></p>
                        </div>
                        <div class="section">
                            <p>Inflation Rate: </p>
                            <p class = "answer" id="inflation"></p>
                        </div>
                    </div>
                    <div class = "midline"></div>
                    <div class = "half">
                            <canvas id="chart5" width="400px" height="400px"></canvas>
                    </div>
                </div>
                <div class = "rows">
                    <div class= "half">
                        <ul id = "exports">Total Exports: </ul>
                    </div>
                    <div class = "midline"></div>
                    <div class = "half">
                        <ul id = "imports">Total Imports:</ul>
                    </div>
                </div>
            </div>

    <script>    
        const navBarIdArr = ["background", "geography", "peopleAndSociety", "government", "economy"];

        function changePage(e){
            for (let i = 0; i < 5; i++){
                e.id === navBarIdArr[i] ? $('#' + navBarIdArr[i] + "Content").removeClass("hidden") : $('#' + navBarIdArr[i] + "Content").addClass("hidden");
            }
        }

    </script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Qz_yg_xOGzY73WTonlSf3yKwuD2XLNk&callback=initMap"
    async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../javascripts/index.js"></script>
</body>
</html>