
<!doctype html>
<html lang="en">
  <head>
    <title>The World Factbook</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">

  </head>
  <body id="home">
    <% include partials/header.ejs %>

      <div class="body-wrapper">
        <section id="home-hero">
            <div>
                <h2>Search for statics in any country.</h2>
                <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
                <form id="formId">
                    <span class="rounded-border"></span>
                    <input type='text' id='searchbar'  name='searchResult' placeholder='Search for any country...'>
                    <span class="" id='searchbutton' onclick="loadSearchResults()"><i class="fas fa-search"></i></span>
                    <span class="rounded-border"></span>
                </form>
            </div>
        </section>
      </div>

        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="../javascripts/index.js"></script>
        <script>
        $("#formId").submit(function (event) {
            event.preventDefault();
            window.open("/" + $("#searchbar").val().split(" ").join("-").toLowerCase(), "_self");
        });
        </script>
    </body>
</html>